
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&family=Merriweather:wght@400;700;900&family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-area{
    margin-top: 96px;
}
.header-logo{

}
.nav-area{
   

}
.nav-area ul{
   
}

.nav-area ul li{
    list-style: none;
    display: inline-block;   
    text-align: center;
    padding: 0 10px;
   
    
}

.nav-area ul li a{
    text-decoration: none;
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;

}
.nav-area ul li span{
     padding-top: 10px;

}
.header-content{

}
/*  slider-area*/
.slier-content-area{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 80px 0;
}
.slider-content{

}
.slider-content h1{
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 52px; 
    font-weight: 700;
    line-height: 70px; /* 134.615% */
} 

.slider-content p{ 
    color: #3A3A3A;
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Poppins;
    font-size: 16px; 
    font-weight: 600; 
    margin: 16px 0;
} 

.slider-content button{  
    border-radius: 41px;
    background: #E02C6D; 
    padding: 10px 24px; 
    color: #F1E4FF;
    border: 0;
    cursor: pointer;
} 
.sider-img{
    border-radius: 475px;
    border: 3px solid var(--Brand-Purple-100, #F1E4FF);
    /* background: lightgray -256.697px -123px / 220.317% 154.831% no-repeat; */
}